params {
  flat = false
  assembly_exts = ['*.fa', '*.fasta', '*.fna']
  assembly_search_path = makeAssemblySearchPath( assembly_exts )
  read_length = 150
  mean_fragment_length = 400
  stdev_fragment_length = 100
  replicates = 1
}

def makeAssemblySearchPath ( assembly_exts ) {
  def assembly_search_path = []
  for (ext in assembly_exts) {
    assembly_search_path.add(params.assembly_input.toString() + '/' + ext.toString())
    assembly_search_path.add(params.assembly_input.toString() + '/*/' + ext.toString())
  }
  return assembly_search_path
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
     conda.cacheDir = params.cache
    }
  }
}

process {
  withName: bwa_align { 
    cpus = 4
  }
}

manifest {
  author = 'Dan Fornika'
  description = 'Generate Simulated Reads from Ref Genomes'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}